Viewer/py/lib/__pycache__/__init__.cpython-313.pyc
Viewer/py/lib/__pycache__/frame.cpython-313.pyc
Viewer/py/lib/__pycache__/lattice_client.cpython-313.pyc
Viewer/py/examples/__pycache__/color_temp_lightning_edges.cpython-313.pyc
Viewer/py/examples/__pycache__/mic_reactive_bisexual.cpython-313.pyc
Viewer/py/examples/__pycache__/watch.cpython-313.pyc
